{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8">
  <title>Bulky Monkey - {% block extra_title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Diego Navarro Mellen">

	<!--link rel="stylesheet/less" href="{{ STATIC_URL }}less/bootstrap.less" type="text/css" /-->
	<!--link rel="stylesheet/less" href="{{ STATIC_URL }}less/responsive.less" type="text/css" /-->
	<!--script src="{{ STATIC_URL }}js/less-1.3.3.min.js"></script-->
	<!--append ‘#!watch’ to the browser URL, then refresh the page. -->
	
	<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="{{ STATIC_URL }}js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}img/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}img/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png">
  
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/scripts.js"></script>

  <!-- NVD3.js Charts -->
  <script type="text/javascript" src="{{ STATIC_URL }}js/d3.v2.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/nv.d3.min.js"></script>
  <link href="{{ STATIC_URL }}css/nv.d3.min.css" rel="stylesheet">

  {% block extra_header %}{% endblock %}
</head>

<body>
{% block body %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			{% block navigation %}
			<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="{% url 'bulkymonkey:index' %}">Bulky Monkey v{{ app_version }}</a>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li {% if button_dashboard_on %}class="active"{% endif %}>
							<a href="{% url 'bulkymonkey:index' %}"><span class="glyphicon glyphicon-stats"></span> {% trans "Dashboard" %}</a>
						</li>
						<li {% if button_campaigns_on %}class="active"{% endif %}>
							<a href="{% url 'bulkymonkey:campaign-list' %}"><span class="glyphicon glyphicon-envelope"></span> {% trans "Campaigns" %}</a>
						</li>
						<li>
							<a href="{% url 'bulkymonkey:send-emails' %}"><span class="glyphicon glyphicon-send"></span> {% trans "Send campaign" %}</a>
						</li>
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> {% trans "More actions" %}<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									<a href="{% url 'bulkymonkey:load-emails' %}"><span class="glyphicon glyphicon-open"></span> {% trans "Load emails from file" %}</a>
								</li>
								<li>
									<a href="https://mandrillapp.com/" target="_blank"><span class="glyphicon glyphicon-globe"></span> {% trans "Go to Mandrill" %}</a>
								</li>
								<li>
									<a href="{% url 'admin:index' %}"><span class="glyphicon glyphicon-wrench"></span> {% trans "Django admin" %}</a>
								</li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">
							 	<span class="glyphicon glyphicon-user"></span> {{ user.username }}<strong class="caret"></strong>
							 </a>
							<ul class="dropdown-menu">
								<li>
									<a href="{% url 'logout' %}"><span class="glyphicon glyphicon-off"></span> {% trans "Logout" %}</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
			{% endblock %}
			<br><br><br>
			<div class="row clearfix">
				<div class="col-md-12 column">
				{% if message_level %}
				        <div class="alert alert-{{ message_level|default:"success" }} fade in">
				            <button data-dismiss="alert" class="close" type="button">×</button>
				            {{ message_info|safe }}
				            {% if message_link and message_link_text %}
				                <a href="{{ message_link }}">{{ message_link_text }}</a>
				            {% endif %}
				        </div>
				{% elif messages %}
				    {% for message in messages %}
				        <div class="alert alert-{{ message.tags|default:"success" }} fade in">
				            <button data-dismiss="alert" class="close" type="button">×</button>
				            {{ message|safe }}
				        </div>
				    {% endfor %}
				{% endif %}
				{% block content %}{% endblock %}
				</div>
			</div>
		</div>
	</div>
</div>
<br><br><br>
<div class="navbar navbar-default navbar-fixed-bottom">
	<div class="container">
		<p class="navbar-text pull-left">&copy; Copyright 2013 Cursos Audiovisuales VNQ S.L.</p>
		<p class="navbar-text pull-right">Site powered by Django 1.6</p>
	</div>
</div>
{% endblock %}
{% block aux_scripts %}
{% endblock %}
</body>
</html>
