{% extends "emailer/base.html" %}
{% load i18n %}

{% block extra_title %}campaign detail{% endblock %}

{% block content %}
<h2>{{ object.title }}
    <span class="pull-right">
        <a href="{% url 'bulkymonkey:campaign-delete' object.pk %}" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"></span>
            {% trans "Delete campaign" %}
        </a>
    </span>
</h2>
<hr>
<div class="table-responsive">
    <table class="table table-striped">
      <tr>
      	<th>{% trans "From (name)" %}</th>
      	<td>{{ object.from_name }}</td>
      </tr>
      <tr>
      	<th>{% trans "From (email)" %}</th>
      	<td>{{ object.from_email }}</td>
      </tr>
      <tr>
      	<th>{% trans "Tags" %}</th>
      	<td>
      		{% for tag in object.get_tags %}
      			<span class="label label-default">{{ tag }}</span>
      		{% endfor %}
      	</td>
      </tr>
    </table>
</div>
{% if object.html_mail %}
    <iframe style="width: 100%; height: 600px;" src="{{ object.html_mail.url }}"></iframe>
{% endif %}
{% endblock %}
