{% extends "emailer/base.html" %}
{% load i18n %}

{% block extra_title %}campaigns{% endblock %}

{% block content %}
<h2>{% trans "Campaigns" %} 
	<span class="pull-right">
		<a href="{% url 'bulkymonkey:campaign-create' %}" class="btn btn-success">
			<span class="glyphicon glyphicon-plus"></span>
			{% trans "Add campaign" %}
		</a>
	</span>
</h2>
<hr>
<div class="table-responsive">
    <table class="table table-striped">
    {% for campaign in object_list %}
      <tr><td><a href="{{ campaign.get_absolute_url }}">{{ campaign.title }}</a></td></tr>
    {% empty %}
      <tr><td>{% trans "There are no campaigns" %}</td></tr>
    {% endfor %}
    </table>
</div>

{% include "emailer/common/paginator.html" %}

{% endblock %}
