{% extends "emailer/base.html" %}
{% load i18n %}

{% block extra_title %}dashboard{% endblock %}

{% block content %}
<h2>
    {% trans "Latest actions" %}
    <span class="pull-right">
        <a href="{% url 'bulkymonkey:send-emails' %}" class="btn btn-success">
            <span class="glyphicon glyphicon-send"></span>
            {% trans "Send campaign" %}
        </a>
    </span>
</h2>
<hr>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped">
            <tr>
                <th>{% trans "Campaign" %}</th>
                <th>{% trans "Sector" %}</th>
                <th>{% trans "Emails sent" %}</th>
                <th>{% trans "Status" %}</th>
                <th>{% trans "Date of dispatch" %}</th>
            </tr>
            {% for log in campaign_logs %}
              <tr>
                <td><a href="{{ log.campaign.get_absolute_url }}">{{ log.campaign.title }}</a></td>
                <td><a href="{{ log.sector.get_absolute_url }}">{{ log.sector.name }}</a></td>
                <td>{{ log.num_emails }}</td>
                <td>
                    {% if log.is_sent %}
                        <span class="glyphicon glyphicon-ok-sign"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-minus-sign"></span>
                    {% endif %}
                </td>
                <td>{{ log.created_on }}</td>
              </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</div>
<h2>
    {% trans "Sectors" %}
    <span class="pull-right">
        <a href="{% url 'bulkymonkey:sector-create' %}" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span>
            {% trans "Add sector" %}
        </a>
    </span>
</h2>
<hr>
<div class="row">
    <div class="col-md-6">
        {% for sector in sectors %}
          <div>
              <a href="{{ sector.get_absolute_url }}">{{ sector.name }} ({{ sector.num_emails }})</a>
          </div>
        {% endfor %}
        <div>
            <h5>{% trans "Total" %} ({{ total_emails }} {% trans "emails" %})</h5>
        </div>
    </div>
    <div class="col-md-6">
        <svg id="chart-sectors" style="height:300px;width:400px"></svg>
    </div>
</div>
<h2>
    {% trans "Latest campaigns" %}
    <span class="pull-right">
        <a href="{% url 'bulkymonkey:campaign-create' %}" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span>
            {% trans "Add campaign" %}
        </a>
    </span>
</h2>
<hr>
<div class="table-responsive">
    <table class="table table-striped">
    {% for campaign in latest_campaigns %}
      <tr><td><a href="{{ campaign.get_absolute_url }}">{{ campaign.title }}</a></td></tr>
    {% empty %}
      <tr><td>{% trans "There are no campaigns" %}</td></tr>
    {% endfor %}
    </table>
</div>
{% endblock %}

{% block aux_scripts %}
<script type="text/javascript">
    // Chart Draw Function
    function drawChart(chart, data) {
        var chart_selector = "#" + chart;
        var width = 400,
            height = 300;
        nv.addGraph(function() {
            var chart = nv.models.pieChart()
                .x(function(d) { return d.label })
                .y(function(d) { return d.value })
                .color(d3.scale.category10().range())
                .width(width)
                .height(height)
                .showLabels(true);
            
            d3.select(chart_selector)
                .datum(data)
                .transition().duration(1200)
                .attr('width', width)
                .attr('height', height)
                .call(chart);
            return chart;
        });
    };

    // Load sector chart
    $.get( "{% url 'bulkymonkey:sectors-chart-ajax' %}", function( data ) {
        drawChart("chart-sectors", data);
    });
</script>
{% endblock %}