{% extends "emailer/base.html" %}
{% load i18n %}

{% block extra_title %}dashboard{% endblock %}

{% block content %}
<h2>{% trans "Sectors" %}</h2>
<hr>
<div class="row">
    <div class="col-md-6">
        {% for sector in sectors %}
          <div>
              <h3>{{ sector.name }} ({{ sector.num_emails }})</h3>
          </div>
        {% endfor %}
        <div>
            <h3>Total ({{ total_emails }})</h3>
        </div>
    </div>
    <div class="col-md-6">
        <svg id="chart-sectors" style="height:300px;width:300px"></svg>
    </div>
</div>
<h2>{% trans "Latest campaigns" %}</h2>
<hr>
<ul>
{% for campaign in latest_campaigns %}
  <li><a href="{{ campaign.get_absolute_url }}">{{ campaign.title }}</a></li>
{% empty %}
  <li>{% trans "There are no campaigns" %}</li>
{% endfor %}
</ul>
{% endblock %}

{% block aux_scripts %}
<script type="text/javascript">
    // Chart Draw Function
    function drawChart(chart, data) {
        var chart_selector = "#" + chart;
        var width = 300,
            height = 300;
        nv.addGraph(function() {
            var chart = nv.models.pieChart()
                .x(function(d) { return d.label })
                .y(function(d) { return d.value })
                .color(d3.scale.category10().range())
                .width(width)
                .height(height)
                .showLabels(true);
            
            d3.select(chart_selector)
                .datum(data)
                .transition().duration(1200)
                .attr('width', width)
                .attr('height', height)
                .call(chart);
            return chart;
        });
    };

    // Load sector chart
    $.get( "{% url 'bulkymonkey:sectors-chart-ajax' %}", function( data ) {
        drawChart("chart-sectors", data);
    });
</script>
{% endblock %}