{% extends "emailer/base.html" %}
{% load i18n %}

{% block extra_title %}sector detail{% endblock %}

{% block content %}
<h2>{{ object.name }} ({{ num_emails }} {% trans "emails" %})
    <span class="pull-right">
        <a href="{% url 'bulkymonkey:sector-delete' object.pk %}" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"></span>
            {% trans "Delete sector" %}
        </a>
    </span>
</h2>
<hr>

<ul>
{% for item in email_list %}
	<li>{{ item.address }}</li>
{% empty %}
	<li>{% trans "There are no emails" %}</li>
{% endfor %}
</ul>

{% include "emailer/common/paginator.html" %}
{% endblock %}
