{% extends "emailer/base.html" %}
{% load i18n %}

{% block extra_title %}sector detail{% endblock %}

{% block content %}
<h2>{{ object.name }} ({{ num_emails }} {% trans "emails" %})
    <span class="pull-right">
        <a href="{% url 'bulkymonkey:sector-delete' object.pk %}" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"></span>
            {% trans "Delete sector" %}
        </a>
    </span>
</h2>
<hr>

<div class="table-responsive">
    <table class="table table-striped">
    <tr><th>{% trans "Email" %}</th></tr>
    {% for item in email_list %}
		<tr><td>{{ item.address }}</td></tr>
	{% empty %}
		<tr><td>{% trans "There are no emails" %}</td></tr>
	{% endfor %}
    </table>
</div>

{% include "emailer/common/paginator.html" %}
{% endblock %}
