{% extends "emailer/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block extra_title %}{% trans "send emails" %}{% endblock %}

{% block content %}
<h2>{% trans "Send emails" %}</h2>
<hr>
{% crispy form %}
{% endblock %}

{% block aux_scripts %}
<script>
  	$.ajaxSetup({beforeSend: function(xhr, settings){
	    xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
  	}});
	$('#submit-id-submit').click(function(e) {
	    e.preventDefault();
	    bootbox.confirm("{% trans 'The campaign is about to be send. Are you sure?' %}", function(result) {
	        if (result) {
	        	var form = $('form');
	            $.ajax({
	                url: form.attr('action'),
	                method: 'POST',
	                async: false,
	                cache: false,
	                data: form.serialize()
            	}).done(function (data){
                   	location.replace(data.url);
                });
	        }
	    });
	});
</script>
{% endblock %}