{% load i18n %}

{% if is_paginated %}
    <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
                <a href="{{ object.get_absolute_url }}?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
            {% endif %}
            <span class="page-current">
                {% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="{{ object.get_absolute_url }}?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
            {% endif %}
        </span>
    </div>
{% endif %}
